<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <%- styles %>
</head>
<body ng-app="xcom">
    <div ng-controller="mainController" class="page" ng-class="'page-'+pageClass">
        <header>
            <div class="blue-stripe">
                <div class="well well-sm">
                <xcom-bases-time-controls></xcom-bases-time-controls>
            </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-22 col-lg-offset-1">
                        <tabset class="main-menu">
                            <tab select="go('/')">
                                <tab-heading translate="menu.index"></tab-heading>
                            </tab>
                            <tab select="go('/equipment')">
                                <tab-heading translate="menu.equipment"></tab-heading>
                            </tab>
                            <tab select="go('/settings')">
                                <tab-heading translate="menu.settings"></tab-heading>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-22 col-lg-offset-1">
                    <div class="content-wrapper">
                        <ng-view></ng-view>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- scripts %>
</body>
</html>