<!DOCTYPE html>
<html>
<head>
    <title>title</title>
    <%- styles %>
</head>
<body ng-app="xcom">
    <div ng-controller="mainController" class="page" ng-class="'page-'+pageClass">
        <header>
            <div class="blue-stripe"></div>
            <div class="tr-widgets">
                <div class="widgets-wrapper" ng-class="'widgets-wrapper-'+topRightWidgets.widgetsWrapperClass">
                    <div ng-show="topRightWidgets.widgetsState.basesTimeControlsVisible">
                        <xcom-bases-time-controls></xcom-bases-time-controls>
                    </div>
                    <div ng-show="topRightWidgets.widgetsState.testVisible">Test widget here</div>
                </div>
                <div class="btn-group widget-controls">
                    <button type="button" class="btn btn-sm btn-default button-bases-time-control button-first" ng-click="toggleTrWidget('basesTimeControls')">
                        <i class="fa fa-clock-o"></i>
                    </button>
                    <button type="button" class="btn btn-sm btn-default button-test button-last" ng-click="toggleTrWidget('test')">
                        <i class="fa fa-bolt"></i>
                    </button>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-22 col-lg-offset-1">
                        <tabset class="main-menu">
                            <tab select="go('/')">
                                <tab-heading translate="menu.index"></tab-heading>
                            </tab>
                            <tab select="go('/equipment')">
                                <tab-heading translate="menu.equipment"></tab-heading>
                            </tab>
                            <tab select="go('/references')">
                                <tab-heading translate="menu.references"></tab-heading>
                            </tab>
                            <tab select="go('/settings')">
                                <tab-heading translate="menu.settings"></tab-heading>
                            </tab>
                        </tabset>
                    </div>
                </div>
            </div>
        </header>

        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-22 col-lg-offset-1">
                    <div class="content-wrapper">
                        <ng-view></ng-view>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- scripts %>
</body>
</html>