.menu-item() {
    cursor: pointer;
    text-transform: capitalize;
}

.column-with-padding() {
    padding: 0 0.5em;

    &.first {
        padding-left: 0;
    }

    &.last {
        padding-right: 0;
    }
}