// Bootstrap variables
@import "../../../bower_components/bootstrap/less/bootstrap.less";
@import "bootstrap-variables.less";

// Fonts
@font-family-heading: 'Roboto', @font-family-sans-serif;
@font-family-digital: 'Digital Dream Skew', @font-family-monospace;

// Borders
@border-radius-default-radius: 0.5em;

// App variables
@blue-stripe-height: 1em;
@blue-stripe-color: @brand-primary;

@widgets-wrapper-border-radius: 0.5em;